.hamburger {
  display: none;
}

.hamburger2 {
  display: none;
}

.bar {
  display: block;
  width: 30px;
  height: 4.2px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
  border-radius: 10rem;
}

/* MQ */

@media only screen and (max-width: 980px) {
  .nav-menu {
    display: none;
  }

  .searchInputWrapper {
    width: 50rem;
    margin-left: 4rem;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    background: none;
    border: none;
    padding-right: 2rem;
    transition: all 0.5s ease-in;
    transition: all 0.5s ease-out;
  }

  .hamburger2 {
    background: none;
    border: none;
    display: block;
    transition: all 0.5s ease-out;
    padding-right: 2rem;
    cursor: pointer;
  }

  .hamburger2 .bar:nth-child(1) {
    transform: rotate(45deg) translate(4.5px, 6px);
    transition: all 0.5s ease-out;
  }

  .hamburger2 .bar:nth-child(3) {
    transform: rotate(-45deg) translate(1.5px, -2.9px);
    transition: all 0.5s ease-out;
  }

  .hamburger2 .bar:nth-child(2) {
    display: none;
    transition: all 0.5s ease-out;
  }
}

@media only screen and (max-width: 763px) {
  .searchInputWrapper {
    display: none;
  }
}

@media only screen and (max-width: 280px) {
  .searchInputWrapper {
    display: none;
  }
  .nav-language-cont {
    display: none;
  }
  .nav-link-login {
    display: none;
  }
}

/* The MQ's below got a little messy, If you know how to make that search bar more responsive than this and less janky, please reach out! for now this is so we have a navbar at least*/

@media only screen and (max-width: 880px) {
  .searchInputWrapper {
    display: none;
  }
}

@media only screen and (max-width: 1920px) {
  .searchInputWrapper {
    width: 20rem;
  }
}

@media only screen and (max-width: 1200px) {
  .searchInputWrapper {
    width: 20rem;
  }
  .nav-cart {
    margin-left: 3rem;
  }
}

@media only screen and (max-width: 1169px) {
  .searchInputWrapper {
    width: 60rem;
  }
}

@media only screen and (min-width: 1391px) {
  .searchInputWrapper {
    width: 30rem;
  }
}

@media only screen and (min-width: 1580px) {
  .searchInputWrapper {
    width: 50rem;
  }
}

@media only screen and (min-width: 1720px) {
  .searchInputWrapper {
    width: 70rem;
  }
}

@media only screen and (min-width: 2157px) {
  .searchInputWrapper {
    width: 80rem;
  }
}
