.flex-with-row-to-col {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.bg-blue {
	background-color: #172990;
}
.color-white {
	color: #ffffff;
}

.h3-cursive {
	font-family: 'Lobster', cursive;
	font-weight: normal;
	font-style: normal;
}

.button-text {
	font-family: Manrope;
	font-size: 15px;
	font-weight: 600;
	font-style: normal;
	text-decoration: none;
}
.w-80 {
	width: 80%;
}

.m-auto {
	margin: 0 auto;
}
.min-w-160 {
	min-width: 161px;
}

/* 1140 */
@media only screen and (max-width: 1140px) {
	.flex-with-row-to-col {
		flex-direction: column;
	}
}
